<h3>Edit Product Information</h3>

<!--  <form action="/products/<%= @product.id %>" method="post" class="form-horizontal"> 
	<div class="control-group">
		<input type="hidden" name="_method" value="put">-->
	<!--  hidden input is necessary! -->
		<!--<label class="control-label">Product Name</label>
		<div class='controls'>
			<input type="text" value="<%= @product.name %>" name="product[name]">	
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Category: </label>
		<div class="controls">
			<select name="product[category_id]">
ruby here categories.each do |category| %>
				<option value="ruby category.id end">ruby category.name end</option>
ruby end 	
			</select>			
		</div>
	</div>
	<div class="control-group">	
		<label class="control-label">Product Description</label>
		<div class="controls">
			<textarea  rows="4" cols="50" name="product[description]"><%= @product.description %></textarea>
		</div>
	</div>
	<div class="control-group">	
		<label class="control-label">Price</label>
		<div class="controls">
			<input type="text" value="<%= @product.pricing %>" name="product[pricing]">
			<br>
			<br>
			<input type="submit" value="Save" class="btn"> 
		</div>
	</div>
</form> -->

<%= simple_form_for @product, :html => { :multipart => true } do |f| %>
	<%= f.input :name, label: 'Product name' %>
	<%= f.association :category, :input_html => {:class => "span4"}, label: "Category" %>
	<%= f.input :description, :input_html => {:rows => 5, :class => "span4" } %>
	<%= f.input :pricing, label: 'Price' %>
	<p>
    <%= image_tag @product.photo.url(:small) %>
	</p>
	<p>
    Change image: <%= f.file_field :photo, :class => "btn" %>
	</p>
	<%= f.submit class: 'btn btn-primary' %>
<!-- 	<%= f.button :submit %> -->
<% end %>
<a href="/products">Cancel</a>
	



