<h3>Because relisting items on CL takes too many steps.</h3>



<%= Product.count %> total products
	<% if current_user %>
		<p><a href="products/new">Create a new product</a></p>
	<% end %>	

<table class="table table-bordered table-hover table-condensed">
	<thead>
		<tr>
			<th>Product ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<!-- show all products -->
<% @products.each do |product| %>
		<tr>
			<td><%= image_tag(product.photo.url(:small)) %></td>
			<td><a href="products/<%= product.id%>"><%= product.name %></a></td>
			<td><a href="products/<%= product.id%>"><%= product.description %></td>
			<td><%= product.category.name %></td>
			<td><%= product.pricing %></td>
			<% if session[:user_id] == product.user_id %>
				<td><a href="products/<%= product.id%>/edit">Edit</a></td>
				<td><%= button_to "delete", product, :method=>:delete, :class=>:btn  %></td>
			<% else %>
				<td><a href="mailto:ansonwolfe@gmail.com">Contact Me</a></td>
			<% end %>	
		</tr>	
<% end -%>			
	</tbody>
</table>
	
<% if current_user %>
	<small>Logged in as:  <%= current_user.name %> ID #<%= session[:user_id] %></small>
<% end %>	

