<h2>Create a new product</h2>


<!-- simple form sucks!  -->
<%= simple_form_for @product do |f| %>
	<%= f.input :name, label: 'Product name' %>
	<%= f.association :category, :input_html => {:class => "span4"}, label: "Category" %>
	<%= f.input :description, :input_html => {:rows => 5, :class => "span4" } %>
	<%= f.input :pricing, label: 'Price' %>
  	<%= f.hidden_field :user_id, :value => current_user.id %>
	<p>
		<%= f.file_field :photo %>
	</p>	
	<%= f.submit class: 'btn btn-primary' %>
<!-- 	<%= f.button :submit %> -->
<% end %>
<p><a href="/products">Return to Index</a></p>


<!-- html form  -->
<!-- <form action="/products" method="post" class="form-horizontal">
	<div class="control-group">
		<label class="control-label">
		Product Name:
		</label>
		<div class="controls">
			<input type="text" name="product[name]" placeholder="product name">
		</div>
	</div>	
	<div class="control-group">
		<label class="control-label">Category: </label>
		<div class="controls">
			<select name="product[category_id]">
For dropdown selection do the following:
	atcategories.each do |category|
				<option value=" ruby here category.id "> ruby here category.name </option>
end 	
			</select>			
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Description: </label>
		<div class="controls">
			<textarea rows="4" cols="50" name="product[description]"></textarea>
		</div>
	</div>
	<div class="control-group">	
		<label class="control-label">Price:</label>
		<div class="controls">
			<input type="text" name="product[pricing]" placeholder="price">
		<br>
		<br>
			<input type="submit" value="Create new product" class="btn">
		</div>
	</div>
</form> -->