<h3>Product Information</h3>
<!-- check if there is a current user/session logged in, if logged, show the user ID and name -->
<% if current_user %>
	<h5>Logged in as:  ID #<%= session[:user_id] %> 
	<br>
		Name: <%= current_user.name %>		
	</h5>
<% end %>


<a href="/products">Back Home   </a> 

<p>
	<%= image_tag @product.photo.url(:small) %>
</p>
<p>
	<h2>Product name:  <%= @product.name %> 	<small><%= @product.category.name %></small></h2>
</p>
<p>
	<h4><small>Offered by:<a href="/users/<%= User.find_by_id(@product.user_id).id %>"> <%= User.find_by_id(@product.user_id).name %></a></small></h4>
</p>
<p>
	<h5>
		
	<%= @product.description %>
	</h5>
</p>
<p>
	Price: <%= @product.pricing %>
</p>


<!-- 	<%= link_to "Edit product info", edit_product_path(@product.id), :class => "btn btn-mini" %> -->
<a href="<%= @product.id %>/edit">Edit Product Info</a>
<h6>Comments:</h6>
<div id="comments">
	<!-- display all comments for product as stored in controller -->
<% @product_comments.each do |product_comment| %>
	<blockquote>
		<%= product_comment.content %>
		<!-- check if the comment's author is registered or not. Display 'Anonymous' for guests -->
		<small>Posted by: <% if product_comment.author == '0'%>
			Anonymous
		<% else %>	
			<%= User.find_by_id(product_comment.author).name %>
		<% end %>
			 on <%= product_comment.created_at %></small>
	</blockquote>
<% end %>	
</div>	
<form action="/comments" method="post">
	<h5>Have a question?</h5>
	<!-- check if user is logged in, user user ID for author, else put '0' for guests -->
	<% if current_user %>
		<input type="hidden" name="comment[author]" value="<%= session[:user_id] %> ">
	<% else  %>
		<input type="hidden" name="comment[author]" value="0">
	<% end %>
	<br>
	<textarea name="comment[content]"></textarea>
	<br>
	<!-- remember to always add authenticity_token to forms unless using simple forms -->
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="hidden" name="id" value="<%= @product.id %>">
	<input type="submit" value="Drop a note" class="btn">
</form>



<p><a href="/products">Index</a></p>



