<!DOCTYPE html>
<html>
<head>
  <title>Intermediate1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="<%= root_path %>">Middleman</a>

      <ul class="nav">
        <li class="active">
          <%= link_to "Products", products_path %> 
        </li>  
        <% if current_user && current_user.id == 1 %>
          <li class="active">
            <%= link_to "Categories", categories_path %>
          </li>
        <% end %>  
      </ul>
      
      

      <p class="navbar-text pull-right">

<!-- if user is logged in, show logout, else show sign in if not logged -->
      <% if current_user %>
        Welcome <a href="/users/<%= current_user.id %>"><%= current_user.name %> </a>  |  
        <a href="/signout">Logout</a>
      <% else %>
        New user? <a href="/signup">Register</a>  |  <a href="/signin">Log In</a>
      <% end %> 

        <!-- logged_in_user@email.com | <a href="log_out_link_here">Log Out</a> -->

      </p>

    </div>
  </div>
<!-- begin page -->
	<div class="container">

<!-- insert other details -->
		<%= yield %>
	
  </div>
</body>
</html>



